@import '../../styles/defaults.scss';

.button{
    font-family:$headers;
    font-size:1.8rem;
    font-weight:500;
    color:$black;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(50,50,50,0.3);
    border-radius:5px;
    padding:5px 15px;
    margin:10px;
}

.button:hover, .button:focus{
    color:$primary;
    background-color:rgba(255,255,255);
}