@import './theme.scss';

// Defaults //

html{
    background-color:$bgPrimary;
}

h1, h2, h3{
    font-family:$headers;
    line-height:1;
}

h4, h5{
    font-family:$content;
    line-height:1;
}

p, span{
    font-family:$content;
}

h1{
    font-size:2rem;
    font-weight:600;
}

h2{
    font-size:1.75rem;
    font-weight:600;
    
}

h3{
    font-size:1.5rem;
    font-weight:500;
}

h4{
    font-size:1.35rem;
    font-weight:500;
}

h5{
    font-size:1.15rem;
    font-weight:500;
}

p{
    font-size:1rem;
    font-weight:400;
    line-height:1.2;
}

a:hover, a:focus{
    color:$primary;
    transition: all 0.1s ease;
}

// Scroll Bar  //

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgb(0, 0, 0); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: $lightBlue;
    border-radius:8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $primary; 
  }

// Page Template //


// Category Template //
 

// Post Template //
 
article{

    .header{
        text-align:center;
        padding:10px 5px;

        h1{
            font-size:2.4rem;

        }

    }

    .excerpt{
        padding:10px 8px;

        p{
            font-style:italic;
            font-weight:300;
        }
    }

    .post-image{
        margin:5px;
        box-shadow:0px 0px 5px 2px rgba(60,60,60,0.5);
        border-radius:5px;
        max-height:400px;
    }

    .post-content{
        padding:10px 8px;

        p{  
            font-size:1.2rem;  
        }
    }
}


// Products Template //


// Product Template //