// Import Fonts - Headers: Archivo Narrow; Content: Montserrat //

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

// Import FontAwesome //

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');


// Colors //

$white:rgb(237,237,237);
$black:rgb(17,17,17);
$offwhite:rgb(225,225,225);
$offBlack:rgb(24,24,24);
$darkGrey:rgb(40,40,40);
$grey:rgb(90,90,90);
$lightGrey: rgb(150,150,150);
$blue: rgb(14,155,249);
$lightBlue:rgb(64, 179, 255);
$darkBlue:rgb(0, 133, 221);


// Set Theme //

$primary:$blue;
$bgPrimary: $white;
$headers:'Archivo Narrow', sans-serif;
$content:'Montserrat', sans-serif;

// Defaults //

html{
    background-color:$bgPrimary;
}

h1, h2, h3{
    font-family:$headers;
    line-height:1;
}

h4, h5{
    font-family:$content;
    line-height:1;
}

p, span{
    font-family:$content;
}

h1{
    font-size:2rem;
    font-weight:600;
}

h2{
    font-size:1.75rem;
    font-weight:600;
    
}

h3{
    font-size:1.5rem;
    font-weight:500;
}

h4{
    font-size:1.35rem;
    font-weight:500;
}

h5{
    font-size:1.15rem;
    font-weight:500;
}

p{
    font-size:1rem;
    font-weight:400;
    line-height:1.2;
}

a:hover, a:focus{
    color:$primary;
    transition: all 0.1s ease;
}

// Scroll Bar  //

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgb(0, 0, 0); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: $lightBlue;
    border-radius:8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $primary; 
  }

// Page Template //


// Category Template //
 

// Post Template //
 
article{

    .header{
        text-align:center;
        padding:10px 5px;

        h1{
            font-size:2.4rem;

        }

    }

    .excerpt{
        padding:10px 8px;

        p{
            font-style:italic;
            font-weight:300;
        }
    }

    .post-image{
        margin:5px;
        box-shadow:0px 0px 5px 2px rgba(60,60,60,0.5);
        border-radius:5px;
        max-height:400px;
    }

    .post-content{
        padding:10px 8px;

        p{  
            font-size:1.2rem;  
        }
    }
}


// Products Template //


// Product Template //