// Colors //

$white:rgb(237,237,237);
$black:rgb(17,17,17);
$offwhite:rgb(225,225,225);
$offBlack:rgb(24,24,24);
$darkGrey:rgb(40,40,40);
$grey:rgb(90,90,90);
$lightGrey: rgb(150,150,150);
$blue: rgb(14,155,249);
$lightBlue:rgb(64, 179, 255);
$darkBlue:rgb(0, 133, 221);

// Fonts //

@import "~@fontsource/montserrat/index.css";
@import "~@fontsource/archivo-narrow/index.css";

// Set Theme //

$primary:$blue;
$bgPrimary: $white;
$headers:"Archivo Narrow";
$content:"Montserrat";
