@import '../../styles/defaults.scss';

.contact-overlay{
    background-color:$white;
    position:fixed;
    bottom:20px;
    left:50%;
    transform: translateX(-50%);
    width:calc(100vw - 40px);
    height:calc(100vh - 130px);
    border-radius:2px;
    box-shadow: 0px 0px 5px 2px rgba(100, 100, 100, 0.2);

    .header{
        position:relative;
        display:flex;
        flex-direction:row;
        align-items:center;
        margin:20px 0 0 20px;
        width:100%;

        h1{
            color:$primary;
            text-shadow: 0px 0px 2px rgba(60,60,60,0.3);
            font-size:3rem;
        }

    }

}