@import '../../styles/defaults.scss';
 
.post-card-wrapper{
    background-color:rgba(250, 250, 250, 0.3);
    border-radius:5px;
    padding:10px;
    margin:5px;
    display:flex;
    flex-direction:column;
    align-items:center;

    h1{
        text-align:center;
        padding:5px 10px;
        font-size:2.5rem;
    }

    span.date{
        padding:8px;
    }

    p.excerpt{
        padding:10px 5px;
        font-size:1.2rem;
    }

    .post-data{
        max-width:600px;
        text-align:left;

        .category, .tags{
            display:flex;
            flex-direction:row;
            align-items:center;
            margin: 10px 0;
            align-self:start;
    
            p{
                margin-right:5px;
                font-family:$headers;
                font-size:1.2rem;
            }
            
        }
    
        .category{
    
            p{
                margin-right:10px;
            }
    
            span{
                background-color:rgba(255, 255, 255, 0.5);
                font-size:1.1rem;
                font-weight:600;
                color:$primary;
                padding:2px 10px;
                border-radius:5px;
            }
        }
    
        .category:hover, category:focus{
    
            span{
                cursor:pointer;
                background-color:rgba(255,255,255);
                box-shadow: 0px 0px 5px 1px rgba(14,155,249,0.5);
            }
        }
    }
}

// Author //

.author{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    .author-image{
        max-width:90px;
        border-radius:50px;
        box-shadow:0px 0px 8px 2px rgba(70, 70, 70, 0.4);
    }

    .author-data{
        display:flex;
        flex-direction:column;
        margin-left:20px;

        h4{
            font-size:1.6rem;
        }
        
        h5{
            font-family:$headers;
            color:$grey;
        }

        span{
            font-size:0.8rem;
            font-weight:500;
            padding:5px 0;
            color: $primary;
            text-transform:uppercase;
        }
    }

}

// Tags //

.tag{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:20px;
    background-color:rgba(255, 255, 255, 0.5);
    margin:5px;

    span{
        font-size:0.8rem;
        font-weight:600;
        color:$primary;
        margin:2px 10px;
    }
}

.tag:hover, .tag:focus{
    cursor:pointer;
    background-color:rgba(255,255,255);
    box-shadow: 0px 0px 5px 1px rgba(14,155,249,0.5);
}

.tags-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.more{
    padding:10px 0;

    h3{
        padding:10px 0;
    }
}

.category-post-wrapper{
    padding:10px 0;
    margin:10px;
    box-shadow: 0px 0px 8px 2px rgba(60,60,60,0.2);

    .post-card-wrapper{
        padding:0;
        margin:10px 0;

        h1{
            font-size:1.8rem;
        }

        .post-data{
            display:none;
        }

        .button{
            font-size:1.4rem;
            border-radius:2px;
            box-shadow:0px 0px 6px 2px rgba(100,100,100,0.2);
        }
    }
}

// Social Sharing //

.social-sharing{
    display:flex;
    flex-direction:column;
    justify-content:center;
    justify-items:center;
    align-content:center;
    align-items:center;
    padding:15px 5px;

    .wrapper{
        flex-direction:row;
    }

    i{
        margin:5px;
        outline:none;
        transition: ease 0.1s;
        font-size:2rem;
    }

    i:hover, i:focus{
        transform:scale(1.1);
        transition: ease 0.1s;
        color:$primary;
        outline:none;
    }

    p{
        font-size:1.1rem;
        font-weight:500;
        color:$primary;
        padding:5px 0;
    }

}

